.drop-table {
  margin: 20px;
}

.drop-row {
  width: 1701px;
}

.drop-cell {
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
  min-width: 50px;
  line-height: 37px;
  height: 37px;
  &.drop-cell-sort {
    width: 35px;
  }
  &.cell {
    overflow: hidden;
    &__z2 {
      width: 60px;
    }
    &__z5 {
      width: 115px;
    }
    &__z10 {
      width: 160px;
    }
    &__z15 {
      width: 230px;
    }
  }
}
.cell__z5 input {
  width: 100px;
}

.inner-drop-row {
  width: 1531px;
  display: block;
}

.inner-drop-cell {
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
  min-width: 50px;
  line-height: 37px;
  &.drop-cell-sort {
    width: 35px;
  }
  &.cell {
    overflow: hidden;
    &__z2 {
      width: 50px;
    }
    &__z5 {
      width: 105px;
    }
    &__z10 {
      width: 150px;
    }
    &__z15 {
      width: 180px;
    }
  }
}

.inner-table-area {
  padding: 15px;
  width: 100%;
}

.inner-table {
  border-collapse: collapse;
  background-color: white;
  width: 80%;
  border: 2px solid black;
}

.table-btn {
  margin-right: 5px;
}

.example-list {
  width: 535px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box.cdk-drag-disabled {
  background: #ccc;
  cursor: default;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

table {
  width: 100%;
}

.example-element-detail {
  width: 1697px;
  overflow: hidden;
  background-color: #a0a0a0;
  display: flex;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}
